@use "./variaveis.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: variaveis.$colorSecundary;
    
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    
}

.container-fixed {
    display: flex;

    

    @media (max-width: 460px) {
        display: block;
    }
    
}