$colorBlack: #0D1117;
$colorPrincipal: #23272B;
$colorSecundary: #fff;
$colorResev: #103D92;
$colorNeonAzul: #00FFFF;
$colorRosaNeon: #FF007F;
$colormagenta: magenta;
$colorRoxoVibrante: #8000FF;
$colorLaranjaFluorescente: #FF4500;
$colorVerdeAcido: #39FF14;
$colorAmareloNeon: #FFFF00;
$colorCinzaAntracite : #2E2E2E;
$colorGrafite: #3B3B3B;
$colorCinzaMetalico:#4F4F4F;
$colorCinzaCarbonico: #1C1C1C;